
div#logo{
	float: left;
	margin-left: 10px;
	margin-top: 2px;
	background-image: 'http://5134a253d2d7f28643d9-7a41afebac0738a46a0560c398c817b2.r46.cf1.rackcdn.com/logo.png';
}

div.navbar-inner{
	background-image: none;
	background-color: #55949E;
	padding-top: 10px;
	padding-bottom: 10px;
}


.download-info{
	margin-top: 40px;
}
/*The Mashery navigation bar*/

.navbar .nav{
	float: right;
	margin-right: 85px;
	margin-top: 14px;
}

.navbar .nav li{
	margin-left: 0;
    margin-right: 5px;
}

.navbar .nav li a{
	padding: 0 25px;
	font-size: 14px;
	line-height:30px;
	color: #FFFFFF;
}

.navbar .nav li a:hover {
    background: none repeat scroll 0 0 #525252;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar .nav li.active a:hover{
	background-color: #B50919;	
}

.navbar .nav li.active a{
	background-color: #B50919;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
}

body.github-home hr.soften,
body.project-home hr.soften {    
  margin: 44px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

body.github-home .masthead,
body.project-home .masthead{
	margin-bottom: 32px;	
}

.masthead .marketing-byline {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: -18px 0 27px;
    text-align: center;
    margin-top: 20px;
}

/*tools-details page css*/

body.tool-details-page,
body.project-home{
    background-image: none;
}

body.tool-details-page p,
body.tool-details-page p strong {
	color: #333333;	
}

body.tool-details-page header{
	padding-top: 40px;
}

body.tool-details-page section {
    padding-top: 40px;
}

body.tool-details-page header ul{
	margin-left: 0;
}

body.tool-details-page header h1 {
	color: #B50919;	
}

body.tool-details-page section h1,
body.tool-details-page section h2{
	margin-bottom: 15px;
}

body.tool-details-page section hr.soften {    
  margin: 20px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

body.tool-details-page h1, 
body.tool-details-page h2{
	font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif ;
}

body.tool-details-page header ul {
	width: 180px;
	margin-top: 15px;
}

body.tool-details-page header ul {
	width: 180px;
}

body.tool-details-page header ul li.last{
	border-right: none;
}

body.tool-details-page header ul li a:hover{
	text-decoration: none;
	color: #999999;
}

body.tool-details-page header .btn-large {
    padding: 9px 21px;
}

.jumbotron h1 {
	font-size:71px;
}

body.project-home .jumbotron h1 {
    font-size: 30px;
}

body.project-home .masthead p {
    font-size: 20px;
}

body.project-home .masthead p.marketing-byline {
    font-size: 16px;
}

.row p.description{
	min-height: 80px;
}


.project-home p.download-info{
	text-align: center;
}

.project-home p.download-info .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
}

.love{
	color:red;
	font-weight:bold;
}

body.github-home .row p.description{
	min-height: 60px;	
}

.container .marketing .row {
	margin-bottom: 30px;
}

body.project-home .row .btn-group{
	float:left;
	margin-right:20px;
}

.btn-group .btn a,
.btn-group .btn a:hover{
	text-decoration:none;
	color:#333333;
}

.marketing h2 {
	font-weight:bold;
}

.center{
	text-align: center;
}